.background-radial {
    grid-column: 2/5;
    grid-row: 1/4;
    height: 100%;
    background: radial-gradient(circle, rgba(36,118,130,.35) 0%, rgba(10,49,71,0) 60%, rgba(0,0,0,0) 100%); 
    
}

p {
    color: lightgrey;
}

h3 {
    color: lightgrey;
}

.shopping-cart-container {
    display: grid;
    grid-row: 3;
    grid-column: 1/7;
    grid-template-columns: 1fr 616px 374px 1fr;
    grid-template-rows: 100px auto 190px;
    height: fit-content;

    .shopping-cart-text {
        padding-top: 20px;
        color: lightgrey;
        grid-column: 2;
        grid-row: 1;

    }

    .shopping-cart-items-container {
        display: grid;
        grid-column: 2;
        grid-row: 2;

        .shopping-cart-item-container {
            display: grid;
            grid-template-columns: 75% 25%;
            grid-template-rows: 1fr;
            background: rgba( 0, 0, 0, 0.2 );
            height: fit-content;
            padding: 20px;
            margin: 10px;

            button {
                background: none;
                border: none;
                cursor: pointer;
                margin: 0;
                padding: 0;
                color: grey;
                width: 60px;
                height: 30px;

            }

            h6 {
                color: lightgrey;
            }

            .shopping-cart-item-text {
                color: lightgrey;
                grid-column: 1/3;
                grid-row: 1;
            }

        }

        .shopping-cart-item-container-final {
            display: grid;
            grid-template-columns: 75% 25%;
            grid-template-rows: 33% 33% 34%;
            height: 170px;
            background: rgba( 0, 0, 0, 0.2 ) ;
            padding: 20px;
            margin: 10px;

            #shopping-cart-item-text1 {
                grid-column: 1;
                grid-row: 1;
                font-size: 13px;
                font-weight: bold;
            }

            #shopping-cart-item-text2 {
                grid-column: 1;
                grid-row: 2;
            }

            #shopping-cart-item-text3 {
                grid-column: 2;
                grid-row: 1;
            }

            .shopping-cart-item-info-right {
                grid-column: 2;
                grid-row: 1/ 3;
            }

            .shopping-cart-item-buttons-container {
                display: flex;
                justify-content: flex-end;
                grid-column: 1 / 3;
                grid-row: 3;

                button {
                    border: none;
                    font-size: 13px;
                    background: linear-gradient( to bottom, rgba(121,153,5,1) 5%, rgba(83,105,4,1) 95%);
                    color: rgb(187, 229, 178);
                    border-radius: 3px;
                    height: 40px;
                    width: 200px;
                    cursor: pointer;
                }

                button:hover {
                    color: white;
                    background: linear-gradient( to bottom, rgb(143, 179, 11) 5%, rgb(100, 126, 6) 95%);
                }

            }
        }

        .shopping-cart-bottom-container {
            grid-column: 1;
            grid-row: 3;

            .continue-shopping-button {
                color: #67c1f5;
                background: rgba( 103, 193, 245, 0.2 );
                margin-top: 20px;
                margin-bottom: 20px;
                padding: 25px;
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 15px;

            }

            .continue-shopping-button:hover {
                color: lightgrey;
                background: linear-gradient(90deg, rgba(133, 178, 229, 0.919) 11.38%, rgb(92, 114, 213) 100%);
            }
        }
    }

    .shopping-cart-special-offers-container {
        grid-row: 2;
        grid-column: 3;
    }
}