.nav-bot {
    display: grid;
    grid-template-columns: 1fr 150px 640px 200px 1fr;
    grid-template-rows: 45px 120px 1fr;
    background-color: #171a21;
    grid-row: 4;
    grid-column: 1 / 7;
    height: 230px;

    .nav-bot-container {
        
        grid-column: 2/5;
        grid-row: 2;
        width: 100%;
        height: 100%;
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;

        ul {
            display: flex;
            list-style: none;

            li {
                padding: 10px;
            }
        }
    }
}