
.home-page-container {
    display: grid;
    grid-template-columns: 1px 1fr 990px 1fr 1px;
    grid-template-rows: 1px 270px 15px 1fr;
    height: 100%;
    width: 100%;
    grid-column: 1 / 6;
    grid-row: 4;
    padding-top: 20px;
    padding-bottom: 20px;
}

.home-page-container > h2 {
    color: lightgray;
    font-size: 14px;
    grid-column: 3;
    grid-row: 3;
    height: 20px;
    width: 300px;
    padding: 0%;
    margin: 0%;
}

.featured-scrolly-box {
    display: grid;
    grid-template-columns: 1fr 990px 1fr;
    grid-template-rows: 370px 15px;
    grid-row: 4 /5;
    grid-column: 1/7;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    #featured-link {
        height: 100%;
    }
}

.left-scrolly-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 0;
    grid-row: 1 / 2;
    cursor: pointer;
    width: 25px;
    height: 35px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.58) 10%, rgba(62, 103, 150, 0) 100%);
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
}

.left-scrolly-arrow:hover {
    background: linear-gradient(90deg, rgba(103, 165, 190, 0.8) 10%, rgba(62, 103, 150, 0) 100%);
}

.left-scrolly-arrow-holder {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.right-scrolly-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3;
    grid-row: 1 / 2;
    width: 25px;
    height: 35px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.58) 100%);
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
}

.right-scrolly-arrow:hover {
    background: linear-gradient(90deg, rgba(62, 103, 150, 0) 10%, rgba(103, 165, 190, 0.8) 100%);
}

.featured-scrolly-container {
    display: grid;
    grid-template-columns: 63% 18% 19%;
    grid-template-rows: 20% 22% 22% 1fr;
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    width: 100%;
    background-color: #101a24;

    .featured-img {
        grid-column: 1;
        grid-row: 1 / 5;
        height: 100%;
        width: 100%;
    }

    .featured-text {
        grid-column: 2 / 4;
        grid-row: 1;
        color: lightgrey;
        z-index: 20;
    }

    .mini-featured-scrolly-images {
        display: grid;
        grid-column: 2/4;
        grid-row: 2/4;
        grid-template-columns: 180px 180px;
        grid-template-rows: 85px 85px;
        width: 366px;
        height: 160px;
        gap: 5px;
        
        button {
            border: none;
            padding: 0px;
            background-color: transparent;
            width: 100%;
            height: 100%;
            cursor: pointer;
            filter: brightness(0.7);
        }

        button:hover {
            filter: brightness(1);
        }
            
            #mini-img-1 {
                grid-column: 1;
                grid-row: 1;
                height: 100%;
                width: 100%;
                filter: inherit;
                pointer-events: none;
        }
        
        #mini-img-1:hover {
            filter: brightness(1);
        }
        
        #mini-img-2 {
            grid-column: 2;
            grid-row: 1;
            height: 100%;
            width: 100%;
            filter: brightness(0.7);
            pointer-events: none;
        }
        
        #mini-img-2:hover {
            filter: brightness(1);
        }
        
        #mini-img-3 {
            grid-column: 1;
            grid-row: 2;
            height: 100%;
            width: 100%;
            filter: brightness(0.7);
            pointer-events: none;
        }
        
        #mini-img-3:hover {
            filter: brightness(1);
        }
        
        #mini-img-4 {
            grid-column: 2;
            grid-row: 2;
            height: 100%;
            width: 100%;
            filter: brightness(0.7);
            pointer-events: none;
        }
        
        #mini-img-4:hover {
            filter: brightness(1);
        }
    }
}

.arrows {
    width: 25px;
}

.scrolly-buttons {
    width: 100%;
    height: 100%;
    grid-row: 2;
    grid-column: 2;
}

.special-offers-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 990px 1fr;
    grid-template-rows: 20px 190px 15px;
    grid-column: 1/7;
    grid-row: 1;
    width: 100%;
    height: 100%;
    margin: auto auto;
    margin-top: 20px;
}

.special-offers-text-button-holder {
    display: flex;
    justify-content: space-between;
    grid-column: 2;
    grid-row: 1;
}

.special-offers-button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.special-offers-text {
    grid-column: 2;
    grid-row: 1;
    height: 20px;
    width: 300px;
    padding: 0%;
    margin: 0%;
    color: lightgray;
    font-size: 14px;
}

.left-special-offers-arrow {
    display: flex;
    grid-column: 1;
    grid-row: 2;
    width: 25px;
    height: 35px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.58) 10%, rgba(62, 103, 150, 0) 100%);
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
}

.left-special-offers-arrow-holder {
    display: flex;
    grid-column: 1;
    grid-row: 2;
    justify-content: flex-end;
    align-items: center;
}

.right-special-offers-arrow {
    display: flex;
    grid-column: 3;
    grid-row: 2;
    width: 25px;
    height: 35px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.58) 100%);
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
}

.right-special-offers-arrow:hover {
    background: linear-gradient(90deg, rgba(62, 103, 150, 0) 10%, rgba(103, 165, 190, 0.8) 100%);
}

.left-special-offers-arrow:hover {
    background: linear-gradient(90deg, rgba(103, 165, 190, 0.8) 10%, rgba(62, 103, 150, 0) 100%);
}

.special-offers-holder {
    grid-column: 2;
    grid-row: 2;
    height: 100%;
    width: 100%;
    // background-color: grey;
    // display: grid;
}

.special-page-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    width: 100%;
    height: 100%;
    grid-column: 1 / 4;
    grid-row: 1/3;

    img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }

    .sp1-1 {
        border: 1px solid black;
        grid-column: 1;
        width: 100%;
        height: 100%;
        background-color: #1e6c95;

        .box1-1 {
            height: 100%;
            width: 100%;

            .img1 {
                height: 250%;
                width: 100%;
            }
        }
    }

    .sp1-2 {
        border: 1px solid black;
        grid-column: 2;
        background-color: #1e6c95;
    }

    // .sp1-3 {
    //     border: 1px solid black;
    //     grid-column: 3;
    //     grid-row: 1;
    //     background-color: #1e6c95;
    //     width: 100%;
    //     height: 100%;


    // }

    .sp1-4 {
        border: 1px solid black;
        grid-column: 3;
        background-color: #1e6c95;
        width: 100%;
        height: 100%;
        
        .img4 {
            height: 100%;
            width: 100%;
        }

        .box1-4 {
            height: 100%;
            width: 100%;

        }
    }

}

.img3 {
    width: 100%;
    height: 100%;
}

.box1-3 {
    width: 100%;
    height: 100%    ;

}

.special-page-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: 100%;
    grid-column: 1 / 4;
    grid-row: 1/3;

    .sp2-1 {
        border: 1px solid black;
        grid-column: 1;
        grid-row: 1/3;
        background-color: #1e6c95;
    }

    .sp2-2 {
        border: 1px solid black;
        grid-column: 2;
        grid-row: 1/3;
        background-color: #1e6c95;
    }

    .sp2-3 {
        border: 1px solid black;
        grid-column: 3;
        grid-row: 1/3;
        background-color: #1e6c95;
    }

}

.special-page-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 100%;
    height: 100%;
    grid-column: 1 / 4;
    grid-row: 1/3;
    .sp3-1 {
        border: 1px solid black;
        grid-column: 1;
        grid-row: 1;
        background-color: #1e6c95;
    }

    .sp3-2 {
        border: 1px solid black;
        grid-column: 1;
        grid-row: 2;
        background-color: #1e6c95;
    }

    .sp3-3 {
        border: 1px solid black;
        grid-column: 2;
        grid-row: 1;
        background-color: #1e6c95;
    }

    .sp3-4 {
        border: 1px solid black;
        grid-column: 2;
        grid-row: 2;
        background-color: #1e6c95;
    }

    .sp3-5 {
        border: 1px solid black;
        grid-column: 3;
        grid-row: 1;
        background-color: #1e6c95;
    }

    .sp3-6 {
        border: 1px solid black;
        grid-column: 3;
        grid-row: 2;
        background-color: #1e6c95;
    }

}

#special-offers-link {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.box1-2 {
    width: 100%;
    height: 100%;
}

.img2 {
    width: 200%;
}