
.home-page-container {
    display: grid;
    grid-template-columns: 1px 1fr 990px 1fr 1px;
    grid-template-rows: 20px 370px 15px 1fr;
    height: 100%;
    width: 100%;
    grid-column: 1 / 6;
    grid-row: 3;
    padding-top: 20px;
    padding-bottom: 20px;
}

.home-page-container > h2 {
    color: lightgray;
    font-size: 14px;
    grid-column: 3;
    grid-row: 1;
    height: 20px;
    width: 300px;
    padding: 0%;
    margin: 0%;
}

.featured-scrolly-box {
    display: grid;
    grid-template-columns: 1fr 990px 1fr;
    grid-template-rows: 370px 15px;
    grid-row: 2 / 4;
    grid-column: 1/7;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.left-scrolly-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 0;
    grid-row: 1 / 2;
    width: 25px;
    height: 35px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.58) 10%, rgba(62, 103, 150, 0) 100%);
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
}

.left-scrolly-arrow:hover {
    background: linear-gradient(90deg, rgba(103, 165, 190, 0.8) 10%, rgba(62, 103, 150, 0) 100%);
}

.left-scrolly-arrow-holder {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.right-scrolly-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3;
    grid-row: 1 / 2;
    width: 25px;
    height: 35px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.58) 100%);
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
}

.right-scrolly-arrow:hover {
    background: linear-gradient(90deg, rgba(62, 103, 150, 0) 10%, rgba(103, 165, 190, 0.8) 100%);
}

.featured-scrolly-container {
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    width: 100%;
    background-color: grey;
}

.arrows {
    width: 25px;
}

.scrolly-buttons {
    width: 100%;
    height: 100%;
    grid-row: 2;
    grid-column: 2;
}

.special-offers-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 990px 1fr;
    grid-template-rows: 20px 380px 15px;
    grid-column: 1/7;
    grid-row: 4;
    width: 100%;
    height: 100%;
}

.special-offers-text-button-holder {
    display: flex;
    justify-content: space-between;
    grid-column: 2;
    grid-row: 1;
}

.special-offers-button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.special-offers-text {
    grid-column: 2;
    grid-row: 1;
    height: 20px;
    width: 300px;
    padding: 0%;
    margin: 0%;
    color: lightgray;
    font-size: 14px;
}

.left-special-offers-arrow {
    display: flex;
    grid-column: 1;
    grid-row: 2;
    width: 25px;
    height: 35px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.58) 10%, rgba(62, 103, 150, 0) 100%);
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
}

.left-special-offers-arrow-holder {
    display: flex;
    grid-column: 1;
    grid-row: 2;
    justify-content: flex-end;
    align-items: center;
}

.right-special-offers-arrow {
    display: flex;
    grid-column: 3;
    grid-row: 2;
    width: 25px;
    height: 35px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.58) 100%);
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
}

.right-special-offers-arrow:hover {
    background: linear-gradient(90deg, rgba(62, 103, 150, 0) 10%, rgba(103, 165, 190, 0.8) 100%);
}

.left-special-offers-arrow:hover {
    background: linear-gradient(90deg, rgba(103, 165, 190, 0.8) 10%, rgba(62, 103, 150, 0) 100%);
}

.special-offers-holder {
    grid-column: 2;
    grid-row: 2;
    height: 100%;
    width: 100%;
    background-color: grey;
}

.special-offers-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}