.user-show-page-container {
    display: grid;
    grid-template-columns: 1fr 990px 1fr;
    grid-template-rows: 1fr;
    grid-column: 1/7;
    grid-row: 2/5;
}

.show-page-content-container {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-column: 2;
    grid-row: 1;
    background-color: rgba(34, 35, 48, 0.93);
}

.show-edit-profile-button {
    grid-column: 3;
    grid-row: 2;
    width: 100px;
    height: 30px;
    background-color: rgba(38, 56, 90, 0.93);
    border: none;
    color: lightgray;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 auto;
}

.edit-modal {
    display: flex;
    grid-row: 1;
    grid-column: 3;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-selector-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1;
    grid-row: 2;
}

.username-text {
    grid-column: 2;
    grid-row: 1;
    margin: 20px; 
    height: 12%;
}

.user-bio {
    grid-column: 2;
    grid-row: 1;
    margin: 20px;
    margin-top: 55px;
}

.text {
    color: lightgray;
}

.profile-icon {
    width: 150px;
    height: 150px;
    border: 1px solid grey;
    margin: 20px auto;
}

.profile-img-button {
    width: 100px;
    height: 100px;
}

.profile-img-switch {
    width: 100%;
    height: 100%;
    pointer-events: none;
}
