/* TODO Add site wide styles */

/* $primary-color: #00adee; */
/* $secondary-color: #000000; */

#root {
    display: grid;
    grid-template-columns: 1fr 150px 640px 200px 1fr;
    grid-template-rows: 100px 80px 900px 1fr;
    /* display: flex; */
}

body {
    margin: 0;
    /* -webkit-gradient(linear, bottom-left, top-right, from(#2A475E), to(#1B2838) ); */
    background-color: #2A475E;
    /* background-color: #1B2838; */
}

