.signup-background-container {
    grid-column: 1/6;
    grid-row: 1/5;
    height: 100%;
    overflow: hidden;
    
    .signup-background {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .background-img-cover {
        object-fit: cover;
        background:radial-gradient(rgba(24, 26, 33, 0) 0%, #181A21 100%),  center top no-repeat, #181A21
    }
}

#sign-in-page {
    display: grid;
    grid-template-rows: 150px;
    grid-row: 2;
    grid-column: 2 / 4;
    height: 700px;
}

#sign-in-box {
    display: flex;
    width: 640px;
    height: 340px;
    flex-direction: column;
    background-color: #171a21;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#sign-in-title-text {
    color: lightgrey;
}

#sign-in-form-container {
    display: flex;
    width: 420px;
    height: 300px;
}

/* #sign-in-form > form {
    display: flex;
    flex-direction: column;
} */

.sign-in-form {
    display: grid;
    grid-template-rows: 80px 80px;
    justify-content: center;
    align-items: center;
}

.sign-in-form > ul {
    color: lightgray;
}

.account-sign-in-input-container {
    display: flex;
    grid-row: 1;
}

#account-name-label {
    color: #2D73FF;
}

#password-name-label {
    color: grey;
}

.password-sign-in-input-container {
    display: flex;
    grid-row: 2;
}

.sign-in-form > button {
    width: 200px;
    height: 50px;
    justify-content: center;
    color: white;
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
    padding: 0;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.sign-in-form > button:hover {
    background: linear-gradient(90deg, #58d5ff 0%, #2D73FF 100%);
}

.sign-in-form input {
    padding: 10px;
    width: 100%;
    background-color: rgb(77, 77, 77);
    border: none;
    color: white;
}

.sign-in-form label{
    width: 100%;
}