.game-show-page-container {
    display: grid;
    grid-template-columns: 1fr 990px 1fr;
    grid-template-rows: 80px 450px 450px 1fr;
    grid-row: 3;
    grid-column: 1/7;
}

.game-show-page-container h1 {
    grid-column: 2;
    grid-row: 1;
    font-size: 20px;
    color: lightgrey;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

.game-show-page-title-content {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 1fr 23%;
    grid-row: 2;
    grid-column: 2;
    height: 450px;
}

.game-show-page-media-container {
    display: grid;
    grid-column: 1;
    grid-row: 1;
}

.game-show-page-title-details {
    display: grid;
    grid-column: 2;
    grid-row: 1 /3;
}

.game-show-page-media-scrolly {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: none;
    height: 70px;
    white-space: nowrap;

    h2 {
        width: 1000px;
        height: 20px;
    }
}



.game-show-page-reviews-container {
    display: grid;
    grid-column: 2;
    grid-row: 4;
    height: 450px;
    width: 100%;
}