.game-show-page-container {
    display: grid;
    grid-template-columns: 1fr 990px 1fr;
    grid-template-rows: 80px 450px 70px auto 200px 1fr;
    grid-row: 3;
    grid-column: 1/7;

    .game-title-container {
        grid-column: 2;
        grid-row: 1;
        font-size: 26px;
    }

    .game-show-page-buttons {
        grid-column: 2;
        grid-row: 3;
        height: 70px;
        background: rgba(0, 0, 0, 0.2);
    }

    .reviews-form-container {
        grid-column: 2;
        grid-row: 4;
        background: linear-gradient( -60deg, rgba(226,244,255,0.3) 5%,rgba(84, 107, 115, 0.3) 95%);
        height: auto;
        margin-top: 20px;
    }

    .buy-button-container {
        display: grid;
        grid-column: 2;
        grid-row: 5;
        grid-template-columns: 65% 35%;
        grid-template-rows: 30px 1fr 1fr;
        gap: 10px;

        .buy-button1-container {
            grid-column: 1;
            grid-row: 2;
            border-radius: 7px;
            background: linear-gradient( -60deg, rgba(226,244,255,0.3) 5%,rgba(84, 107, 115, 0.3) 95%)
        }

        .buy-button2-container {
            grid-column: 1;
            grid-row: 3;
            border-radius: 7px;
            background: linear-gradient( -60deg, rgba(226,244,255,0.3) 5%,rgba(84, 107, 115, 0.3) 95%)
        }
        
        .relevant-box {
            background: rgba(0, 0, 0, 0.2);
            grid-column: 2;
            grid-row: 1 / 5;
        }
    }


}

.game-show-page-container h1 {
    grid-column: 2;
    grid-row: 1;
    font-size: 20px;
    color: lightgrey;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

.game-show-page-title-content {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 1fr 24%;
    grid-row: 2;
    grid-column: 2;
    height: 450px;
    gap: 10px;
    background: linear-gradient(127deg, rgba(36,59,130,0) 0%, rgba(10,49,71,0.19649858234309348) 70%, rgba(0,0,0,0.30294115937390587) 100%);

    button {
        height: 68px;
        width: 150px;
        border: none;
        padding: 0px;
        margin-right: 5px;
        box-sizing: content-box;
        display: inline-block;
        background-color: transparent;
        img {
            height: 68px;
            width: auto;
            pointer-events: none;
        }
    }
}

.game-show-page-media-container {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

.game-show-page-title-details {
    display: grid;
    grid-template-rows: 30% 70%;
    grid-column: 2;
    grid-row: 1 /3;

    p {
        grid-row: 2;
        padding-right: 10px;
        color: lightgray;
    }

    img {
        grid-row: 1;
        width: 97%;
        height: 100%;
    }
}

.game-show-page-background {

    grid-column: 1/7;
    grid-row: 2/4;
    height: 598px;
    background-color: rgba(0, 0, 0, 0.1);
    // border-radius: 30px;
}

.game-show-page-media-scrolly {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: none;
    height: 72px;
    white-space: nowrap;

    img  {
        margin-right: 5px;
    }
}



.game-show-page-reviews-container {
    display: grid;
    grid-column: 2;
    grid-row: 6;
    height: auto;
    min-height: 450px;
    width: 100%;
}