.profile-container {
    display: grid;
    flex-direction: column;
}

.profile-dropdown {

  li {
    color: lightgrey;
  }
}

.profile-button {
  margin: 5px;
  width: 35px;
  height: 35px;
  background-color: lightgray;
}

a {
  text-decoration: none;
  color: lightgrey;
}

.navigation-holder {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 150px 640px 200px 1fr;
  grid-column: 1 / 6;
  grid-row: 1;
  list-style: none;
  height: 100px;
  background-color: #171a21;
  z-index: 5;
}

#sign-in-holder {
  display: flex;
  grid-column: 4;
  height: 100px;
  justify-content: end;
}

#sign-in-holder > ul {
  margin: 0;
  padding: 5px;
}

#login-link {
  border-color: lightgray;
  border-right-width: 1px;
  border-right-style: solid;
  padding-right: 10px;
  font-size: 11px;
}

#sign-in-title-text {
  display: flex;
  align-items: end;
  padding-bottom: 20px;
}

.navigation-holder ul {
  align-items: flex;
  justify-content: flex-end;
  list-style: none;
}

#main-title {
  grid-column: 2;
  justify-content: flex-start;
  align-items: center;
  color: lightgrey;
}

#nav-options-holder {
  display: flex;
  grid-column: 3;
}

#nav-options-holder ul {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#nav-options-holder li {
  padding: 10px;
}